# Node
node_modules/
dist/
.env
.env.*

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
venv/
env/
.venv/

# Database / Data
*.db
*.sqlite3
data/input/*
data/processed/*.db
~$*
*.xls
*.xlsx

# OS
.DS_Store
Thumbs.db
